.header-footer {
	background-color: #1AB292;
	height: 50px;
	color: white;
	font-weight: bold;
}

.logo {
	float: left;
	margin-left: 10px;
	width: 20%;
	margin-top: 2px;
}

.menu-with-link {
	display: inline-block;
	text-align: center;
	margin-top: 17px;
}

.menu-with-link div {
	display: inline-block;
	border-right: #A5FAE9 1px solid;
}

.menu-with-link div:last-child {
	border-right: none;
}

.menu-with-link-text a, .menu-with-link-text a:visited {
	color: white;
	margin-left: 10px;
	text-decoration: none;
	padding-right: 10px;
}

.menu-with-link-text a:hover {
	text-decoration: underline;
}

.pull-right {
	float: right;
	margin-right: 10px;
	margin-top: 13px;
}

.copyright {
	display: inline-block;
	margin-left: 10px;
}

.menu-no-link {
	display: inline-block;
	text-align: center;
	margin-top: 17px;
}

.menu-no-link div {
	display: inline-block;
}

.menu-no-link-text {
	padding-right: 10px;
}