.slogan {
	padding-top: 50px;
}

.slogan-additional {
	padding-top: 20px;
}

.background-content {
	height: 450px;
	background-image: url('../images/mom_daughter.jpg');
	background-position: center;
}