.slogan {
	padding-top: 50px;
}

.slogan-additional {
	padding-top: 20px;
}

.background-content {
	height: 450px;
	background-image: url('../images/mom_daughter.jpg');
	background-position: center;
}

.inner-content {
	height: 220px;
}

.inner-left-content {
	float: left;
	width: 48%;
}

.inner-middle-content {
	float: left;
	width: 3px;
}

.inner-right-content {
	display: inline-block;
	width: 42%;
}