* {
  	margin: 0;
}
html, body {
  	height: 100%;
}
header{
	border-bottom:1px solid #000;
}
.page-wrap {
  	min-height: 100%;
  	margin-bottom: -142px; 
}
.page-wrap .wrapper{
	padding: 10px;
}
.page-wrap:after {
  	content: "";
 	display: block;
}
.site-footer, .page-wrap:after {
  	height: 50px; 
}
.site-footer {
	padding-top: 10px;
  	background: orange;
}
.site-footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin-left: 30px;
}